<body>
  <div class="quiz-window">
    <h2 class="question-title container">qqq Question text</h2>
    <ul class="question-ansvers-list container">
      <li>
        <input class="check-box" type="radio" id="a" name="answer" />
        <label id="a_text" for="a"> a Question</label>
      </li>
      <li>
        <input class="check-box" type="radio" id="b" name="answer" />
        <label id="b_text" for="b">b Question</label>
      </li>
      <li>
        <input class="check-box" type="radio" id="c" name="answer" />
        <label id="c_text" for="c">c Question</label>
      </li>
      <li>
        <input class="check-box" type="radio" id="d" name="answer" />
        <label id="d_text" for="d">d Question</label>
      </li>
    </ul>
    <button class="submit-button" type="submit">Submit</button>
  </div>
  <script type="module" src="./js/index.js"></script>
</body>
